body {
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  background: black;
}

#cesiumContainer {
  width: 100%;
  height: 100vh;
}

/* TOP BAR */
#topBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

/* HUD */
#hud {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}

.hudBox {
  color: white;
  text-align: center;
  font-size: 14px;
}

/* BOTTOM BAR */
#bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
}

/* MODES */
.ife-mode {
  filter: brightness(0.75);
}

.radar-mode {
  filter: brightness(1.3) contrast(1.2);
}
